    /* NAVBAR */
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body {
        background-color: rgb(28, 24, 56);
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: #02011e;
        font-family: 'Hurricane', cursive;
        box-shadow: 2px 2px 6px 1px #02011e;
    }
    
    .logo {
        color: rgb(255, 60, 0);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 30px;
    }
    
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
    
    .nav-links li {
        list-style: none;
    }
    
    .nav-links a {
        color: rgb(255, 94, 0);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 20px;
    }
    
    .burger {
        display: none;
        cursor: pointer;
    }
    
    .burger div {
        width: 25px;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.679);
        margin: 5px;
        transition: all 0.3s ease;
    }
    
    @media screen and (max-width:1024px) {
        .nav-links {
            display: flex;
            justify-content: space-around;
            width: 60%;
        }
    }
    
    @media screen and (max-width:768px) {
        body {
            overflow-x: hidden;
        }
        .nav-links {
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color: #02011e;
            box-shadow: 2px 2px 2px 1px #02011e;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        .nav-links li {
            opacity: 0;
        }
        .burger {
            display: block;
        }
    }
    
    .nav-active {
        transform: translateX(0%);
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    /* NAVBAR Ende */
    
    .rund {
        border-radius: 200px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px;
        position: relative;
        left: 150px;
    }
    /* Bild Navbar Ende */
    
    #WV {
        position: static;
        margin-left: 275px;
        margin-top: 99px;
        width: 725.5px;
        height: 365.5px;
        border: medium solid black;
        box-shadow: 0px 0px 50px black;
    }
    /* Video Hauptseite Ende */
    
    #counter-label {}
    
    .button {}